body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.Logo {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
}

.Logo img {
    margin: 30px 0 30px 0;
    /* background-color: black; */
    border-radius: 50%;
}

.img-principal {
    display: block;
    /* Necesario para que margin auto funcione */
    width: 70%;
    height: 650px;
    margin: 0 auto;
    border-radius: 50px;
    object-fit: cover;
    /* Para que la imagen no se deforme */
}

@media (max-width: 768px) {
    .img-principal {
        display: block;
        /* Necesario para que margin auto funcione */
        width: 90%;
        height: 350px;
        margin: 0 auto;
        border-radius: 50px;
        object-fit: cover;
        /* Para que la imagen no se deforme */
    }
}



/* titulos! */

.seccion-titulo {
    position: relative;
    padding-bottom: 12px;
    /* Espacio entre el texto y la línea */
}

.seccion-titulo::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150px;
    /* Longitud de la línea */
    height: 4px;
    /* Grosor de la línea */
    background-color: #4a90e2;
    /* Azul */
    border-radius: 2px;
    /* Bordes redondeados */
}